openapi: 3.1.0
info:
  title: MediTriage API
  version: 1.0.0
  description: API principal para el sistema de triage asistido por IA.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.meditriage.cl/v1
    description: Entorno de producción en Azure
paths:
  /triage:
    post:
      summary: Registrar síntomas del paciente (US-01)
      operationId: createTriageRecord
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriageInput'
      responses:
        '201':
          description: Registro creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriageOutput'
        '422':
          description: Error de validación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRFC7807'

  /triage/queue:
    get:
      summary: Visualizar cola de prioridad de pacientes (US-02)
      operationId: getTriageQueue
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista de pacientes priorizados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TriageOutput'

  /patients/{patientId}/history:
    get:
      summary: Consultar historial clínico (US-03)
      operationId: getPatientHistory
      security:
        - BearerAuth: []
      parameters:
        - name: patientId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Historial clínico del paciente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientHistory'
        '404':
          description: Paciente no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRFC7807'

  /audit/logs:
    get:
      summary: Auditoría de registros clínicos (US-04)
      operationId: getAuditLogs
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Registros inmutables de Azure SQL Ledger
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /admin/users:
    post:
      summary: Gestión de usuarios y permisos (US-05)
      operationId: createUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
      responses:
        '201':
          description: Usuario creado exitosamente

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Schema 1: Input
    TriageInput:
      type: object
      required:
        - RUT
        - Sintomas
      properties:
        RUT:
          type: string
          pattern: '^\d{7,8}-[0-9K]$'
        Sintomas:
          type: string
        SignosVitales:
          type: object
          properties:
            Pulsaciones:
              type: integer
            PresionSanguinea:
              type: string

    # Schema 2: Output
    TriageOutput:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pacienterut:
          type: string
        esiLevel:
          type: integer
          minimum: 1
          maximum: 5
        status:
          type: string
        fecha:
          type: string
          format: date-time

    PatientHistory:
      type: object
      properties:
        patientId:
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/TriageOutput'

    # Schema 3: Error RFC 7807
    ErrorRFC7807:
      type: object
      required:
        - type
        - titulo
        - estatus
      properties:
        type:
          type: string
          format: uri
        titulo:
          type: string
        estatus:
          type: integer
        detalles:
          type: [string, null]
        instancias:
          type: string
          format: uri
        trace_id:
          type: string
